.mb-24{
  margin-bottom:24px;
}
.tr-header{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header-btn {
  background: #00B152;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Sora';
  font-weight: 600;
  line-height: 1.5;
}

.header-btn:hover {}

.column-card {
  border-radius: 16px;
  position: relative;
}

.column-badge {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 0px 8px 8px 0px;
  padding: 10px;
}

.breadcrumb.wp-block-wporg-site-breadcrumbs::after {
  background-image: inherit !important;
}

.round-badge {
  border-radius: 50px;
}
.wp-block-jetpack-contact-form > div {
  margin-bottom: 30px;
}
.footer-flex-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
}
.footer-flex-icon img {
  margin-right:5px
}

.breadcrumb.wp-block-wporg-site-breadcrumbs .wporg-site-breadcrumbs__wrapper:after {
  content: inherit !important;
}
.list-mb-5 li {
  margin-bottom: 8px;
}
.sharedaddy.sd-sharing-enabled {
  max-width: 1200px;
  margin: 0 auto !important;
}

.wp-block-cover.img-cover {
  align-items: flex-end;
}
:where(body .is-layout-constrained) > * {
  margin-block-start: 1rem;
  margin-block-end: 0;
}
p a:where(:not(.wp-element-button)) {
  color: #00b152;
}

body {
  --wp--style--block-gap: 1rem;
}
/* Responsive */

@media (min-width: 325px) and (max-width: 767px) {

.sponsor-form .grunion-field-wrap {
    max-width: 100% !important;
    flex: 1 1 100% !important;
}

.sponsor-form select {
    width: 100% !important;
}
.mobile-menu a {
  color: #232323;
}
.wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content {
  color: #232323;
}
.footer h2.wp-block-heading.mb-24 {
  margin-top: 26px;
  font-weight: 600 !important;
}
.sharedaddy.sd-sharing-enabled {
  max-width: 90%;
  margin: 0 auto !important;
}
  
}



#tix table.tix_tickets_table tbody tr>td, #tix table.tix_tickets_table tbody tr>th {
        background: #fef4d8;
        box-sizing: border-box;
        padding: 1.5rem 2rem;
    }

    #tix table {
        width: 100%;
    }

    #tix table thead {
        background: #02b152;
    }

    #tix table thead th, #tix table thead td {
        padding: 10px;
        font-weight: bold !important;
        color: white;
    }

    #tix table.tix_tickets_table tbody tr>td>*,#tix table.tix_tickets_table tbody tr>th>* {
        box-sizing: border-box;
    }

    #tix table.tix_tickets_table.tix-tickets-list thead tr {
        border-bottom: 2px solid #0a3773;
    }

    #tix table.tix_tickets_table.tix-tickets-list thead tr th.tix-column-description {
        text-align: left;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr>td,#tix table.tix_tickets_table.tix-tickets-list tbody tr>th {
        background: #fef4d8;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr>td:nth-child(2n),#tix table.tix_tickets_table.tix-tickets-list tbody tr>th:nth-child(2n) {
        background: #fffaec;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr:not(:last-child) {
        border-bottom: 2px solid #0a3773;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr th {
        padding: 3rem 2rem;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr th.tix-column-description {
        text-align: left;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr th.tix-column-description label.tix-ticket-title {
        display: inline-block;
        margin-bottom: .5rem;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr td {
        text-align: center;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr td.tix-column-price,#tix table.tix_tickets_table.tix-tickets-list tbody tr td.tix-column-remaining {
        font-weight: 700;
    }

    #tix table.tix_tickets_table.tix-order-summary {
        width: 100%;
    }

    #tix table.tix_tickets_table.tix-order-summary thead tr {
       background-color: #02b152;
        border-bottom: 2px solid #0a3773;
    }

    #tix table.tix_tickets_table.tix-order-summary thead tr th.tix-column-description {
        text-align: left;
    }

    #tix table.tix_tickets_table.tix-order-summary tbody tr td.tix-column-per-ticket,#tix table.tix_tickets_table.tix-order-summary tbody tr td.tix-column-price,#tix table.tix_tickets_table.tix-order-summary tbody tr td.tix-column-quantity,#tix table.tix_tickets_table.tix-order-summary tbody tr.tix-row-total {
        text-align: center;
    }

    #tix table.tix_tickets_table.tix-order-summary tbody tr>td,#tix table.tix_tickets_table.tix-order-summary tbody tr>th {
        background: #fef4d8;
    }

    #tix table.tix_tickets_table.tix-order-summary tbody tr>td:nth-child(2n),#tix table.tix_tickets_table.tix-order-summary tbody tr>th:nth-child(2n) {
        background: #fffaec;
    }

    #tix table.tix_tickets_table.tix-attendee-form tbody tr:first-child>th {
        background-color: #fde9b1;
        border-bottom: 2px solid #0a3773;
    }

    #tix form .tix-column-quantity select {
        padding: 10px;
    }

    #tix input[type=submit]:hover {
        background-color: #d7637b;
    }
    #tix input[type=submit] {
        background-color: #cd3c5a;
        border: none;
        border-radius: 2rem;
        color: #fff;
        display: block;
        font-family: Mulish, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 5rem;
        padding: 1rem;
        transition: background-color .3s ease;
        width: 100%;
    }

    td.tix-column-quantity select option:nth-child(n+3) {
        display: none !important;
    }

    #tix table.tix_tickets_table.tix-attendee-form input {
        background-color: #fff;
        border: 2px solid #fac83c;
        font-size: var(--wp--preset--font-size--medium);
        padding: 10px;
    }

    tr.tix-row-health-advisory td {
        background: #fff !important;
        font-size: 12px;
    }

    form#tix_checkout_form {
        display: block;
        overflow: hidden;
    }

    .tix-submit {
        text-align: left;
        float: none;
    }

    #tix .tix-wide-tab {
        width: auto;
        float:none;
        border-bottom: none;
    }

    table.tix-ticket-form {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 100px;
    }

    table.tix-ticket-form th {
        padding: 10px;
        background: #ebe7d7;
    }

    table.tix-ticket-form td {
        padding: 15px 10px;
    }

    table.tix-ticket-form tr {
        border: 1px solid #e7e2cb;
    }

table.tix-ticket-form tr th {
    background: #02b152;
}

@media only screen and (max-width: 769px) {

	#tix-attendees .tix-columns-4 li {
		width: 50%;
	}	

	#tix table.tix_tickets_table tbody tr>td, #tix table.tix_tickets_table tbody tr>th {
		padding: 7px;
	}

}


.sponsor-list .wp-block-post-template {
	gap: 32px;
}

.sponsor-list .wp-block-post-template figure{
	aspect-ratio: unset !important;
}

.sponsor-list .wp-block-post-template a{
	background: white;
	border-radius: 16px;
	box-shadow: 0px 8px 32px -2px rgba(27, 37, 51, 0.06);
	display: flex;
	height: 200px;
	padding: 16px;
	box-sizing: border-box;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.sponsor-list .wp-block-post-template a > img{
	box-sizing: border-box;
	vertical-align: bottom;
	width: 100%;
	max-height: 200px;
	max-width: 75%;
}
