.mb-24{
  margin-bottom:24px;
}
.tr-header{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header-btn {
  background: #00B152;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Sora';
  font-weight: 600;
  line-height: 1.5;
}

.header-btn:hover {}

.column-card {
  border-radius: 16px;
  position: relative;
}

.column-badge {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 0px 8px 8px 0px;
  padding: 10px;
}

.breadcrumb.wp-block-wporg-site-breadcrumbs::after {
  background-image: inherit !important;
}

.round-badge {
  border-radius: 50px;
}
.wp-block-jetpack-contact-form > div {
  margin-bottom: 30px;
}
.footer-flex-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
}
.footer-flex-icon img {
  margin-right:5px
}

.breadcrumb.wp-block-wporg-site-breadcrumbs .wporg-site-breadcrumbs__wrapper:after {
  content: inherit !important;
}
.list-mb-5 li {
  margin-bottom: 8px;
}

/* Responsive */

@media (min-width: 425px) and (max-width: 767px) {

.sponsor-form .grunion-field-wrap {
    max-width: 100% !important;
    flex: 1 1 100% !important;
}

.sponsor-form select {
    width: 100% !important;
}
  
}