.mb-24{
  margin-bottom:24px;
}
.tr-header{
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header-btn {
  background: #00B152;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Sora';
  font-weight: 600;
  line-height: 1.5;
}

.header-btn:hover {}

.column-card {
  border-radius: 16px;
  position: relative;
}

.column-badge {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 0px 8px 8px 0px;
  padding: 10px;
}

.breadcrumb.wp-block-wporg-site-breadcrumbs::after {
  background-image: inherit !important;
}

.round-badge {
  border-radius: 50px;
}
.wp-block-jetpack-contact-form > div {
  margin-bottom: 30px;
}
.footer-flex-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
}
.footer-flex-icon img {
  margin-right:5px
}

.breadcrumb.wp-block-wporg-site-breadcrumbs .wporg-site-breadcrumbs__wrapper:after {
  content: inherit !important;
}
.list-mb-5 li {
  margin-bottom: 8px;
}
.sharedaddy.sd-sharing-enabled {
  max-width: 1200px;
  margin: 0 auto !important;
}

.wp-block-cover.img-cover {
  align-items: flex-end;
}
:where(body .is-layout-constrained) > * {
  margin-block-start: 1rem;
  margin-block-end: 0;
}
p a:where(:not(.wp-element-button)) {
  color: #00b152;
}

body {
  --wp--style--block-gap: 1rem;
}
/* Responsive */

@media (min-width: 325px) and (max-width: 767px) {

.sponsor-form .grunion-field-wrap {
    max-width: 100% !important;
    flex: 1 1 100% !important;
}

.sponsor-form select {
    width: 100% !important;
}
.mobile-menu a {
  color: #232323;
}
.wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content {
  color: #232323;
}
.footer h2.wp-block-heading.mb-24 {
  margin-top: 26px;
  font-weight: 600 !important;
}
.sharedaddy.sd-sharing-enabled {
  max-width: 90%;
  margin: 0 auto !important;
}
  
}



#tix table.tix_tickets_table tbody tr>td, #tix table.tix_tickets_table tbody tr>th {
        background: #fef4d8;
        box-sizing: border-box;
        padding: 1.5rem 2rem;
    }

    #tix table {
        width: 100%;
    }

    #tix table thead {
        background: #02b152;
    }

    #tix table thead th, #tix table thead td {
        padding: 10px;
        font-weight: bold !important;
        color: white;
    }

    #tix table.tix_tickets_table tbody tr>td>*,#tix table.tix_tickets_table tbody tr>th>* {
        box-sizing: border-box;
    }

    #tix table.tix_tickets_table.tix-tickets-list thead tr {
        border-bottom: 2px solid #0a3773;
    }

    #tix table.tix_tickets_table.tix-tickets-list thead tr th.tix-column-description {
        text-align: left;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr>td,#tix table.tix_tickets_table.tix-tickets-list tbody tr>th {
        background: #fef4d8;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr>td:nth-child(2n),#tix table.tix_tickets_table.tix-tickets-list tbody tr>th:nth-child(2n) {
        background: #fffaec;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr:not(:last-child) {
        border-bottom: 2px solid #0a3773;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr th {
        padding: 3rem 2rem;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr th.tix-column-description {
        text-align: left;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr th.tix-column-description label.tix-ticket-title {
        display: inline-block;
        margin-bottom: .5rem;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr td {
        text-align: center;
    }

    #tix table.tix_tickets_table.tix-tickets-list tbody tr td.tix-column-price,#tix table.tix_tickets_table.tix-tickets-list tbody tr td.tix-column-remaining {
        font-weight: 700;
    }

    #tix table.tix_tickets_table.tix-order-summary {
        width: 100%;
    }

    #tix table.tix_tickets_table.tix-order-summary thead tr {
       background-color: #02b152;
        border-bottom: 2px solid #0a3773;
    }

    #tix table.tix_tickets_table.tix-order-summary thead tr th.tix-column-description {
        text-align: left;
    }

    #tix table.tix_tickets_table.tix-order-summary tbody tr td.tix-column-per-ticket,#tix table.tix_tickets_table.tix-order-summary tbody tr td.tix-column-price,#tix table.tix_tickets_table.tix-order-summary tbody tr td.tix-column-quantity,#tix table.tix_tickets_table.tix-order-summary tbody tr.tix-row-total {
        text-align: center;
    }

    #tix table.tix_tickets_table.tix-order-summary tbody tr>td,#tix table.tix_tickets_table.tix-order-summary tbody tr>th {
        background: #fef4d8;
    }

    #tix table.tix_tickets_table.tix-order-summary tbody tr>td:nth-child(2n),#tix table.tix_tickets_table.tix-order-summary tbody tr>th:nth-child(2n) {
        background: #fffaec;
    }

    #tix table.tix_tickets_table.tix-attendee-form tbody tr:first-child>th {
        background-color: #fde9b1;
        border-bottom: 2px solid #0a3773;
    }

    #tix form .tix-column-quantity select {
        padding: 10px;
    }

    #tix input[type=submit]:hover {
        background-color: #d7637b;
    }
    #tix input[type=submit] {
        background-color: #cd3c5a;
        border: none;
        border-radius: 2rem;
        color: #fff;
        display: block;
        font-family: Mulish, sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 5rem;
        padding: 1rem;
        transition: background-color .3s ease;
        width: 100%;
    }

    td.tix-column-quantity select option:nth-child(n+3) {
        display: none !important;
    }

    #tix table.tix_tickets_table.tix-attendee-form input {
        background-color: #fff;
        border: 2px solid #fac83c;
        font-size: var(--wp--preset--font-size--medium);
        padding: 10px;
    }

    tr.tix-row-health-advisory td {
        background: #fff !important;
        font-size: 12px;
    }

    form#tix_checkout_form {
        display: block;
        overflow: hidden;
    }

    .tix-submit {
        text-align: left;
        float: none;
    }

    #tix .tix-wide-tab {
        width: auto;
        float:none;
        border-bottom: none;
    }

    table.tix-ticket-form {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 100px;
    }

    table.tix-ticket-form th {
        padding: 10px;
        background: #ebe7d7;
    }

    table.tix-ticket-form td {
        padding: 15px 10px;
    }

    table.tix-ticket-form tr {
        border: 1px solid #e7e2cb;
    }

table.tix-ticket-form tr th {
    background: #02b152;
}

@media only screen and (max-width: 769px) {

	#tix-attendees .tix-columns-4 li {
		width: 50%;
	}	

	#tix table.tix_tickets_table tbody tr>td, #tix table.tix_tickets_table tbody tr>th {
		padding: 7px;
	}

}

.sponsor-list{
	margin-block-start: 40px !important;
}

.sponsor-list .wp-block-post-template {
	gap: 32px;
}


.sponsor-list .wp-block-post-template figure{
	aspect-ratio: unset !important;
	margin-bottom: 0px;
	width:100% !important;
	height: unset !important;
	padding: 0 !important;
}

.sponsor-list .wp-block-post-template a{
	background: white;
	border-radius: 16px;
	box-shadow: 0px 8px 32px -2px rgba(27, 37, 51, 0.06);
	display: flex;
	height: 200px !important;
	padding: 16px;
	box-sizing: border-box;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.sponsor-list .wp-block-post-template a > img{
	box-sizing: border-box;
	vertical-align: bottom;
	height: 200px !important;
	max-width: 75%;
	object-position: center;
}

:where(.wp-element-caption, .wp-block-audio figcaption, .wp-block-embed figcaption, .wp-block-gallery figcaption, .wp-block-image figcaption, .wp-block-table figcaption, .wp-block-video figcaption){
	text-align:center;
}

@media screen and (min-width: 300px) {
	#tix-attendees ul {
		grid-template-columns: repeat(auto-fit, 280px) !important;
	}
}

#tix-attendees ul {
	list-style: none;
	margin-left: 0;
  padding: 0;
}

@media screen and (min-width: 960px) {
	#tix-attendees ul {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 600px) {
	#tix-attendees ul {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 300px) {
	#tix-attendees ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem 2rem;
	}
}

#tix-attendees .tix-attendee-list li {
	border-radius: var(--scales-XS, 0.5rem);
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
	padding: 1.25rem 1rem;
	display: grid;
	grid-template-columns: auto 1fr;
	font-size: .875rem;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden;
  height: inherit !important;
  width: 100% !important;
}

#tix-attendees .tix-attendee-list .avatar {
	grid-row: span 3;
	width: 80px !important;
	height: 80px !important;
	margin: 0 var(--scales-XS, 0.5rem) 0 0 !important;
	border: 3px solid var(--24-Dark-Blue-primary, #00b152);
	border-radius: 50%;
}


#tix-attendees .tix-attendee-twitter {
	background-image: url(https://asia.wordcamp.org/2024/files/2023/09/wca24_tix-attendee_icon_twitter-x.png);
}

#tix-attendees .tix-attendee-twitter,
#tix-attendees .tix-attendee-url {
	padding-left: 16px;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: left;
}

#tix-attendees .tix-field {
	margin-left: 0 !important;
	width: auto !important;
}

#tix-attendees .tix-attendee-url {
	background-image: url(https://asia.wordcamp.org/2024/files/2023/09/wca24_tix-attendee_icon_url.png);
}

.wp-block-wporg-site-breadcrumbs{
	mask-image: none !important;
}

.is-style-rounded img{
	width: 100% !important;
	aspect-ration: 1/1 !important;
	height: 256px !important;
	object-fit: cover;
}

/* Speakers style */


.wordcamp-speakers li {
  background: rgba(255, 255, 255, 0.9);
  border-radius: .5rem;
  border: none;
  box-shadow: var(--shadow-medium, 0 4px 20px 0 rgba(0, 0, 0, 0.12));
  margin-bottom: 2.5rem;
  margin-top: 5rem;
  overflow: visible !important;
  padding: 1.5rem clamp(2rem, 2vw, 3rem);
}

.wordcamp-speakers li .wordcamp-speaker {
  display: flex;
  flex-direction: column;
}


.wordcamp-speakers li .wordcamp-speaker .wp-block-wordcamp-avatar img {
  border-radius: 9999px;
  border: 3px solid var(--wp--preset--color--white);
  height: 140px;
  margin-top: -7.5rem;
  order: 1;
  width: 140px;
}

.wp-block-wordcamp-avatar img {
  border-radius: 50%;
  border: 3px solid var(--wp--preset--color--white);
  order: 1;

}

.global-sponsor .type-wcb_sponsor .wp-block-post-featured-image a {
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 32px -2px rgba(27, 37, 51, 0.06);
    display: flex;
    height: 200px !important;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.organizer-list{
	margin-top: 40px;
	margin-bottom: 80px;
}

.organizer-list > ul{
	justify-items: center !important;
	grid-template-columns: repeat(2, minmax(0, 300px));
	gap:32px;
	justify-content: center;
}

.organizer-list > ul > li{
	position: relative;
	border-radius: 16px;
  	overflow: hidden;
}

.organizer-list > ul > li > h2{
	margin: 0;
	font-size: 18px !important;
	font-weight: 600;
	color: white;
	line-height: 32px;
	padding: 16px;
	text-align: left;
	background: #173D30;
	border-radius: 12px;
	margin-top: 8px;
}

.organizer-list > ul > li figure{
	width: 300px !important;
	height: 300px !important;
}


.organizer-list .wp-block-wordcamp-avatar.is-style-rounded img{
	border-radius: 16px !important;
	border: 0 !important;
	height: 300px !important;
}

.organizer-page-section-title{
	color: #232323;
	text-align: center;
	font-family: Sora;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 48px; /* 120% */
	text-transform: capitalize; 
}


.wp-container-core-group-is-layout-21 > .alignwide {
    max-width: 900px;
}

.wp-container-core-group-is-layout-21 > .alignwide img{
    height:96px !important;
    width:96px;
}
.display-none{
  display: none !important;
}
.display-none {
    display: none !important;
}

.wordcamp-schedule__time-slot-header.has-sessions {
    	background: #F1F6F4 !important;
	color:#1B2533;
	text-align: center;
	font-family: Sora;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
}

.wordcamp-schedule__date {
	color: #232323;
	text-align: center;
	font-family: Sora;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 40px; 
}

.wordcamp-schedule__day .wordcamp-schedule__column-header.is-column-time{
	border-top-left-radius: 8px;
}

.wordcamp-schedule__day .wordcamp-schedule__column-header.is-column-track-contributor-day,
.wordcamp-schedule__day .wordcamp-schedule__column-header.is-column-track-main-hall{
	border-top-right-radius: 8px;
}

.wordcamp-schedule .wordcamp-schedule__column-header {
  	background-color: #05291B !important;
  	color: #FFF;
	font-family: Sora;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 142.857% */
	letter-spacing: -0.28px; 
	border-bottom: 1px solid #EAECF0; 
}

.fav-session-button:focus{
	border: none !important;
	outline: none !important;
}

.wordcamp-schedule__session.has-slug-break{
	background: #EEF5F2;
}

.wordcamp-schedule__session.has-slug-break .wordcamp-schedule__session-title{
	text-align:center !important;
	color: #1B2533 !important;
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Sora;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
	display:block;
}

.wordcamp-schedule__session:not(.wcb-favourite-session) .wcb-session-favourite-icon .dashicons-star-filled::before{
	content:"\f154" !important;
}

.wordcamp-schedule__session.wcb-favourite-session{
	border-bottom: 1px solid #F2F2F2;
	background: #DCFCE7;
}

.wordcamp-schedule__session p {
  display: none !important;
}

h4.wordcamp-schedule__session-title,
h4.wordcamp-schedule__session-title a{
  color: #2c814b !important;
}


h4.wordcamp-schedule__session-title a, h4.wordcamp-schedule__session-title {
  	font-weight: 600;
  	font-size: 20px;
	color: #1B2533;
	font-family: Sora;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 150% */
}

.wordcamp-schedule__session-speakers a:hover {
/*   color: #2c814b !important; */
}

.wordcamp-schedule__session-speakers a {
  	color: rgba(27, 37, 51, 0.80);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: Sora;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; /* 142.857% */
	text-decoration-line: underline; 
}

.is-rounded-5 {
  border-radius: 10px;
}

.wordcamp-schedule__column-header.is-column-time,
.wordcamp-schedule__column-header.is-column-track-contributor-day,
.wordcamp-schedule__column-header.is-column-track-main-hall{
	padding-top: 16px !important;
	padding-bottom: 16px !important;
}
